@import "../css/reset.css";
@import "../css/brands.css";
@import "../css/style.css";
@import "brands-extended.css";

footer {
  text-align: left;
}
.container p {
  text-align: justify;
}
.container footer p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  /* url is relative to index.html as its <head> has a <style> with this minified */
  src: url("fonts2/nunito-v32-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  /* url is relative to index.html as its <head> has a <style> with this minified */
  src: url("fonts2/source-serif-4-v14-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  /* url is relative to index.html as its <head> has a <style> with this minified */
  src: url("fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  /* url is relative to index.html as its <head> has a <style> with this minified */
  src: url("fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2")
    format("woff2");
}
h1 {
  color: #00547c;
  font-family: "Nunito", "NotoSans", sans-serif;
  font-size: 4.5rem;
}
body p,
details {
  font-family: "Source Serif 4", serif;
}
